body
{
    background-image: linear-gradient(to left top, rgb(255, 159, 185), rgb(221, 0, 255), rgb(0, 0, 255), rgb(0, 166, 255), rgb(0, 255, 247), rgb(0, 255, 187), #00ff33, #d4ff00, #ffff00, #ffae00, #f13333);
}
h1
{
    background-color: transparent;
    text-align: center;
}
a
{
    background-color: white;
    color: black;
    text-align: center;
}